pipeline/TableCopy_ASQL_TO_ASLS.json
{
	"name": "TableCopy_ASQL_TO_ASLS",
	"properties": {
		"activities": [
			{
				"name": "CopyTable_ASQL_ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetVariableFileName",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ASQL_AdventureWorkDW_Table",
						"type": "DatasetReference",
						"parameters": {
							"DB_Name": {
								"value": "@pipeline().parameters.DB_Name",
								"type": "Expression"
							},
							"TablaName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_DataLAkeUdemy",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@variables('FileName')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SetVariableFileName",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FileName",
					"value": {
						"value": "@{pipeline().parameters.TableName}_@{utcNow()}.csv",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"DB_Name": {
				"type": "string",
				"defaultValue": "azureAdventureworksDW"
			},
			"TableName": {
				"type": "String"
			}
		},
		"variables": {
			"FileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Move And Transform Activities"
		},
		"annotations": []
	}
}